.footer {
    width: 100vw;
    height: 8vh;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
}

.slided-footer {
    transition: margin-left .5s;
    width: 65vw !important;
    position: absolute;
    right: 0%;
}